//- theme.pug
doctype html
html(lang='en')
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")/
    meta(http-equiv="X-UA-Compatible" content="IE=edge")/
    meta(charset="utf-8")/
    meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")/
    style
        include css/style.css
  body
    div(class="container-fluid")
        div(class="card mt-5 mb-5")
            div(class="card-header") #{appName}
            div(class="card-body") !{content}
